<div class="player"  #player>
  <div class="left">
    <div class="image">
      @if (_queueService.currentTrackSignal().cover) {
        <img src="{{_queueService.currentTrackSignal().cover}}" alt="cover">
      } @else {
        @if (_queueService.currentTrackSignal().album) {
          <img src="{{_queueService.currentTrackSignal().album?.cover}}" alt="cover">
        }
        @if (!_queueService.currentTrackSignal().album) {
          <img src="{{_queueService.currentTrackSignal().owner.cover}}" alt="cover">
        }
      }
      <ng-template #other>
        @if (_queueService.currentTrackSignal().album) {
          <img src="{{_queueService.currentTrackSignal().album?.cover}}" alt="cover">
        } @else {
          <img src="{{_queueService.currentTrackSignal().owner.cover}}" alt="cover">
        }
      </ng-template>

    </div>
    <div class="info">
      <p class="title">{{_queueService.currentTrackSignal().title}}
        @if (_queueService.currentTrackSignal().explicit) {
          <img src="assets/icons-svg/explicit.svg" width="15" height="15"/>
        }
      </p>
      <div class="other">
        <a routerLink="/artists/{{_queueService.currentTrackSignal().owner.id}}">{{_queueService.currentTrackSignal().owner.name}}</a>
        @if (_queueService.currentTrackSignal().features.length > 0) {
          ft.
          @for (feature of _queueService.currentTrackSignal().features; track feature; let index = $index) {
            <a routerLink="/artists/{{feature.id}}">{{feature.name}}</a>
            @if (index !== _queueService.currentTrackSignal().features.length - 1) {
              ,&nbsp;
            }
          }
        }
      </div>

      @if (from.name !== 'search') {
        <p><span>Playing from: &nbsp;</span> <a routerLink="/{{from.url}}">{{from.name}}</a></p>
      }
    </div>
  </div>
  <div class="middle">
    <div class="top">
      @if (!shuffle1) {
        <button class="action-button optional" (click)="toggleShuffle()">
          <mat-icon [style.color]="'#fff'" class="smaller-1">shuffle</mat-icon>
        </button>
      } @else {
        <button class="action-button optional" (click)="toggleShuffle()">
          <mat-icon [style.color]="'var(--main-color)'" class="smaller-1">shuffle</mat-icon>
        </button>
      }
      <ng-template #shuffle>
        <button class="action-button optional" (click)="toggleShuffle()">
          <mat-icon [style.color]="'var(--main-color)'" class="smaller-1">shuffle</mat-icon>
        </button>
      </ng-template>
      <button class="action-button" (click)="goPrevious()">
        <mat-icon [style.color]="'#fff'" class="smaller">skip_previous</mat-icon>
      </button>
      <button class="action-button" (click)="goSecondsBack(10)">
        <mat-icon [style.color]="'#fff'" class="smaller">replay_10</mat-icon>
      </button>
      @if (!this._queueService.currentTrackInfo()?.isBeingPlayed) {
        <button class="action-button play" (click)="continue()">
          <mat-icon [style.color]="'#fff'" class="bigger">play_circle_filled</mat-icon>
        </button>
      } @else {
        <button class="action-button" (click)="pause()">
          <mat-icon [style.color]="'#fff'" class="bigger">pause_circle_filled</mat-icon>
        </button>
      }

      <button class="action-button" (click)="goSecondsForward(10)">
        <mat-icon [style.color]="'#fff'" class="smaller">forward_10</mat-icon>
      </button>
      <button class="action-button" (click)="goForward()">
        <mat-icon [style.color]="'#fff'" class="smaller">skip_next</mat-icon>
      </button>
      @if (audioService.repeatIndex === 0) {
        <button class="action-button optional" (click)="toggleRepeat()">
          <mat-icon [style.color]="'#fff'" class="smaller-1">repeat</mat-icon>
        </button>
      }
      @if (audioService.repeatIndex === 1) {
        <button class="action-button optional" (click)="toggleRepeat()">
          <mat-icon [style.color]="'var(--main-color)'" class="smaller-1">repeat</mat-icon>
        </button>
      }
      @if (audioService.repeatIndex === 2) {
        <button class="action-button optional" (click)="toggleRepeat()">
          <mat-icon [style.color]="'var(--main-color)'" class="smaller-1">repeat_one</mat-icon>
        </button>
      }
    </div>
    <div class="bottom">
      <p>{{audioService.currTime() | duration}}</p>
      <mat-slider class="slider" discrete [displayWith]="formatTime" step="0" [max]="audioService.dur()" [min]="0">
        <input #slider matSliderThumb [value]="audioService.currTime()" [min]="0" [max]="audioService.dur()" type="range" (change)="seekTo(slider.value)" class="slider">
      </mat-slider>
      <p>{{audioService.dur() | duration}}</p>
    </div>
  </div>
  <div class="right">
    <button (click)="toggleQueue()">
      <mat-icon [style.color]="'#fff'" class="icon">queue_music</mat-icon>
    </button>
    <button (click)="toggleMuteVolume()">
      @if (!audioService.audio.muted && audioService.audio.volume >= 0.8) {
        <mat-icon [style.color]="'#fff'" class="icon">volume_up</mat-icon>
      }
      @if (audioService.audio.volume > 0 && audioService.audio.volume < 0.8 && !audioService.audio.muted) {
        <mat-icon [style.color]="'#fff'" class="icon">volume_down</mat-icon>
      }
      @if (audioService.audio.muted) {
        <mat-icon [style.color]="'#fff'" class="icon">volume_off</mat-icon>
      }
      @if (audioService.audio.volume == 0 && !audioService.audio.muted) {
        <mat-icon [style.color]="'#fff'" class="icon">volume_mute</mat-icon>
      }
    </button>

    <mat-slider class="slider" step="0.0001" [max]="1" [min]="0">
      <input #sliderVolume matSliderThumb [value]="audioService.audio.volume" [min]="0" [max]="1" type="range" (input)="changeVolume(sliderVolume.value)" class="slider">
    </mat-slider>

  </div>
</div>
