<div class="dialog">
  <h1 mat-dialog-title>
    @if (data.isEdit) {
      Edit
    } @else {
      Add
    }
     album</h1>
  <div mat-dialog-content>
    <form [formGroup]="albumGroup">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Enter name of album" formControlName="name"/>
        @if(albumGroup.get('name')?.hasError('required')){
          <mat-error>Name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Artist</mat-label>
        <mat-select formControlName="artist" placeholder="Select owner">
          @for(artist of artists; track artist) {
            <mat-option value="{{artist.id}}">{{artist.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Release year</mat-label>
        <mat-select formControlName="releaseYear" placeholder="Select release year">
          @for(year of years; track year) {
            <mat-option value="{{year}}">{{year}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="submitForm()">Add</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>
