.wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px;

  .left-wrapper{
    width: 100%;
    .login{

      min-width: 200px;
      .login-form{
        gap: 0;
        .left{
          margin-bottom: 20px;
        }
      }
      .text{
        h3{
          font-size: 30px;
        }
        margin-bottom: 30px;
      }
      mat-error{
        margin-bottom: 20px;
      }
    }
  }
  .right-wrapper{
    width: 100%;

    .content{
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: left;
      img{
        width: 100px;
      }
      h3{
        span{
          font-family: Bold;
        }
        a{
          text-decoration: underline !important;
        }
      }
      h6{
        font-size: 20px !important;
      }
    }
  }
}
