<div class="login">
  <div class="text">
    <h3>Login to Treble</h3>
  </div>
  <form [formGroup]="loginGroup" class="user-ui">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Your email" formControlName="email"/>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Your password" formControlName="password"/>
    </mat-form-field>
    <div class="form-group">
      <div class="left">
        <input type="checkbox" name="remember" formControlName="remember"> Remember me
      </div>
      <div class="right">
        <a routerLink="/auth/register">Don't have an account?</a>
      </div>

    </div>
    @if (error !== '') {
      <p class="error">{{error}}</p>
    }
    <button mat-raised-button (click)="onLogin()">Login</button>

  </form>
  <div class="divider"></div>
</div>
