.following{
  display: flex;
  flex-direction: column;
  width: 100%;
  .row{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    .left{
      gap: 10px;
      display: flex;
      align-items: center;
      a{
        font-size: 13px;
        color: var(--light-text);
      }
    }
    .right{

    }
    img{
      height: 100%;
      border-radius: 50%;
    }
    &:hover{
      background: var(--secondary-black);
      a{
        color: var(--primary-text) !important;
      }
    }
  }
}
.no-artists-followed{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
  text-align: center;
  mat-icon{
    font-size: 100px;
    height: 100px;
    width: 100px;
  }
}
