@if(!loadedFollowings()){
  <app-loading></app-loading>
}
@else {
  <div class="following" >
    @for (artist of following; track artist) {
      <a class="row" routerLinkActive="active" routerLink="/artists/{{artist.id}}" >
        <div class="left">
          <img src="{{artist.cover}}"/>
          <p>{{artist.name}}</p>
        </div>
      </a>
    } @empty {
      <div class="no-artists-followed">
        <mat-icon>microphone</mat-icon>
        <p>You aren't following any artists. Tap the heart icon on any artist to add them to your collection.</p>
      </div>
    }
  </div>
}
