li{
  .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px;
    height: 40px;
    //border-radius: 27.5px 0 0 27.5px;
    img{
      height: 100%;
      border-radius: 50%;
    }
    p{
      color: var(--light);
    }
  }
  .active{
    p{
      color: var(--main-color);
    }
  }
}
li{
  &:hover {
    background: var(--secondary-black);
  }
}
