.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
  height: 55px;
  border-radius: 27.5px 0 0 27.5px;
  &:hover{
    background: var(--secondary-black);
    p{
      color: var(--primary-text);
    }
  }
  img{
    height: 100%;
    border-radius: 50%;
  }
  p{
    color: var(--light-text);
  }
}
.active{
  p{
    color: var(--main-color);
  }
}
