<ul>
  <li>
    <a routerLink="/">
      <mat-icon>home</mat-icon>
      Home
    </a>
  </li>
  <li>
    <a routerLink="search">
      <mat-icon>search</mat-icon>
      Search
    </a>
  </li>
  <li>
    <a routerLink="trending">
      <mat-icon>whatshot</mat-icon>
      Trending
    </a>
  </li>
  @if (userService.userLoaded() === false || userService.userLoaded() === null){
    <mat-divider></mat-divider>
    <li>
      <a routerLink="auth/login">
        <mat-icon>exit_to_app</mat-icon>
        Login
      </a>
    </li>
    <li>
      <a routerLink="auth/register">
        <mat-icon>assignment</mat-icon>
        Register
      </a>
    </li>
  }
  @if (userService.userLoaded()) {
    <li>
      <a routerLink="/user/liked">
        <mat-icon>favorite_border</mat-icon>
        Liked tracks
      </a>
    </li>
  }
</ul>
