<ul>
  <li>
    <a routerLink="/">
      <img ngSrc="assets/icons-svg/home.svg" alt="home,icon" width="20" height="20"/>
      Home
    </a>
  </li>
  <li>
    <a routerLink="search">
      <img ngSrc="assets/icons-svg/search.svg" alt="search,icon" width="20" height="20"/>
      Search
    </a>
  </li>
  <li>
    <a routerLink="trending">
      <img ngSrc="assets/icons-svg/trending.svg" alt="trending,icon" width="20" height="20"/>
      Trending
    </a>
  </li>
  <li *ngIf="authService.isLoggedIn">
    <a routerLink="/user/liked">
      <img ngSrc="assets/icons-svg/heart.svg" alt="liked heart,icon" width="20" height="20"/>
      Saved tracks
    </a>
  </li>
</ul>
