
@if (loaded) {
  <div class="liked">
    <div class="top">
      <div class="image">
        <mat-icon>favorite_outline</mat-icon>
      </div>
      <div class="info">
        <p>Playlist</p>
        <h2>Liked tracks</h2>
        <div class="details">
          <p>{{(_userService.user$ | async)?.username}}</p>
          <app-divider></app-divider>
          <p>{{this._trackLikeService.getLikedTracks().length ? this._trackLikeService.getLikedTracks().length : 0}} tracks</p>
          <app-divider></app-divider>
          {{this._trackDurationService.totalDuration() | formatDuration}}
        </div>
      </div>
    </div>
    <div class="bottom">
      <!--  <input type="text" placeholder="Filter liked tracks by title, artists and albums" (input)="filterLiked(input.value)" #input>-->
      @if (this._trackLikeService.getLikedTracks().length > 0) {
        <!--<ng-container *ngIf="filteredTracks.length > 0">
        <app-track-table [tracks]="filteredTracks" [from]="fromInfo"></app-track-table>
      </ng-container>-->
          <!--<ng-container *ngIf="filteredTracks.length == 0 && !input.value.length">-->
<!--        <app-tracks-wrapper [tracks]="this._trackLikeService.getLikedTracks()" [from]="fromInfo"></app-tracks-wrapper>-->
        <app-track-table [tracks]="this._trackLikeService.getLikedTracks()" [from]="fromInfo"></app-track-table>
        <div class="loading">
          @if (loading) {
            <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
          }
        </div>
        <!--</ng-container>-->
          <!--<ng-container *ngIf="!filteredTracks.length && input.value.length">
          <app-no-results></app-no-results>
        </ng-container>-->
      } @else {
        <div class="no-liked-tracks">
          <mat-icon>favorite</mat-icon>
          <p>Start by tapping the heart icon on your favorite songs to create your personal playlist.</p>
        </div>
      }
    </div>
</div>
} @else {
  <app-loading></app-loading>
}
