<div class="artist">
  <div class="top" #top>
    @if (loaded) {
      <div class="info">
        <div class="top-section">
          <img src="{{artist.cover}}"/>
          <div class="actions">
            <h1>{{artist.name}}</h1>
            @if (!isFollowing) {
              <button (click)="followArtist(artist)">
                <img src="assets/icons-svg/plus.svg" alt="plus,icon"/>
              Follow</button>
            }
            @if (isFollowing) {
              <button (click)="unfollowArtist(artist)">
                <img src="assets/icons-svg/check.svg" alt="check,icon"/>
              Following</button>
            }
          </div>
        </div>
        <div class="lower-section">
        </div>
      </div>
    } @else {
      <app-loading></app-loading>
    }
  </div>
  @if (loaded) {
    <div class="bottom" #bottom>
      <div class="section">
        <div class="play">
          <button>
            <img src="assets/icons-svg/play.svg">
          </button>
          <h2>Popular</h2>
        </div>
        <app-track-table [tracks]="artist.own_tracks" [from]="fromPopular"></app-track-table>
      </div>
      <div class="section">
        <div class="play">
          <button>
            <img src="assets/icons-svg/play.svg">
          </button>
          <h2>Features</h2>
        </div>
        <app-track-table [tracks]="artist.feature_tracks" [from]="fromFeatures"></app-track-table>
      </div>
      @if (artist.albums_count > 0) {
        <div class="section">
          <div class="play">
            <h2>Albums</h2>
          </div>
          <div class="albums">
            @for (album of artist.albums; track album) {
              <app-album-card [album]="album"></app-album-card>
            }
          </div>
        </div>
      }
      @if (artist.featured_albums.length > 0) {
        <div class="section">
          <div class="play">
            <h2>Featured albums</h2>
          </div>
          <div class="albums">
            @for (album of artist.featured_albums; track album) {
              <app-album-card [album]="album"></app-album-card>
            }
          </div>
        </div>
      }
    </div>
  }

</div>
