<h2 mat-dialog-title>Create new playlist</h2>
<div mat-dialog-content >
  <form class="form" [formGroup]="playlist" enctype="multipart/form-data">
    <div class="form-group top">
      <div class="right">
        <div class="upload">
          <button type="button" (click)="imageUpload.click()">
            @if (selectedFile !== null) {
              <img #image/>
            }
            @if (selectedFile === null) {
              <img class="default" src="assets/icons-svg/select.svg"/>
            }
          </button>
          <button class="action remove" [matMenuTriggerFor]="imageOptions">
            <img src="assets/icons-svg/more-horizontal.svg" >
          </button>
          <mat-menu #imageOptions="matMenu">
            <button mat-menu-item (click)="removeImage()">Remove image</button>
          </mat-menu>
        </div>
        <input type="file" formControlName="image" #imageUpload accept="image/jpeg,image/png,image/jpg" hidden (change)="onFileSelected($event)"/>
      </div>
      <div class="left">
        <div class="form-group name">
          <mat-form-field appearance="outline" floatLabel="always" class="white-form-field">
            <mat-label>Name of playlist</mat-label>
            <input matInput formControlName="title" placeholder="Name"/>
            @if (playlist.get('title')?.hasError('required')) {
              <mat-error>
                Title is required
              </mat-error>
            }
            @if (playlist.get('title')?.hasError('maxlength')) {
              <mat-error>
                Max length is 100 characters
              </mat-error>
            }
          </mat-form-field>

        </div>
        <div class="form-group">
          <label class="label" for="description">Description</label>
          <div class="textarea">
            <textarea  [maxLength]="maxLength" formControlName="description"  rows="5" cols="50" id="description" name="description" placeholder="[Optional]"></textarea>
            <p><span [ngClass]="{'orange' : maxLength - numberOfLetters <= 100 && numberOfLetters < maxLength, 'red' : maxLength === numberOfLetters}">{{numberOfLetters}}</span>/{{maxLength}}</p>
          </div>
          @if (playlist.controls.description.hasError('maxlength')) {
            <mat-error>
              Max length is 500 characters
            </mat-error>
          }
        </div>
      </div>




    </div>
    <div class="form-group">

    </div>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="cancel">Cancel</button>
  <button mat-button cdkFocusInitial  (click)="confirm()" class="create">Create</button>
</div>
