<h1 mat-dialog-title>
  Edit artist
</h1>
<div mat-dialog-content>
  <form [formGroup]="form" enctype="multipart/form-data">
    <div class="form-admin artist-edit">
      <div class="field">
        <img src="{{artist.cover}}" #image/>
        <input type="file" hidden #imageUpload (input)="onFileSelected($event)" formControlName="image"/>

      </div>
      <div class="field">
        <input type="text" placeholder="Artist name" formControlName="name">
        @if (form.controls.name.hasError('maxlength')) {
          <mat-error>
            Name cannot contain more than 50 characters.
          </mat-error>
        }
        <button mat-button (click)="imageUpload.click()">Add new image</button>
        @if (selectedFile != null) {
          <button mat-button (click)="resetImage()">Reset image</button>
        }
      </div>
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <button type="button" mat-dialog-close mat-button class="cancel">Cancel</button>
  <button type="button" mat-button (click)="confirm()">Confirm</button>
</div>
