.container{

  .left{
    padding: 10px;
    width: var(--sidenav-width);
    background: var(--primary-black);
    .logo{
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      margin-bottom: 10px;
      h1{
        font-family: Bold;
      }
    }
    .my-collection{
      padding: 10px 0 10px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .left-collection{
        height: 100%;
        padding: 0;
        display: flex;
        align-content: center;
        gap: 10px;
      }
      .right-collection{
        height: inherit;
        border-radius: 50%;
        background: none;
          button{
            background: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
              background: #484848;
              cursor: pointer;
            }
          }
      }
    }
  }
  .main-content{
    min-height: 100vh;
    height: auto;
    color: var(--primary-text);
    background: var(--black);
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
.playlists{
  max-height: 200px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  input[type=text]{
    margin: 5px;
    padding: 5px 10px;
    font-size: 13.5px;
    width: 95%;
    border-radius: 0;
    outline: none;

    &:focus{
      outline: none;
      background: var(--light-black);
    }
  }
}
.following{
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.tabs{

}
.no-result{
  text-align: center;
  font-size: 12px;
}
