<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened="true" class="left" [fixedInViewport]="true">
    <div class="logo">
      <img ngSrc="assets/logo.svg" alt="home,icon" width="50" height="50"/>
      <h1>TREBLE</h1>
    </div>
    <app-nav-links></app-nav-links>
    <mat-divider></mat-divider>
    @if (authService.isLoggedIn) {
      <div class="my-collection">
        <div class="left-collection">
          <img ngSrc="assets/icons-svg/playlist.svg" width="20" height="20" alt="playlist icon"/>
          <a routerLink="/user/playlists">My collection</a>
        </div>
        <div class="right-collection">
          <button matRipple (click)="openDialog()">
            <img ngSrc="assets/icons-svg/plus.svg" alt="plus,icon" height="20" width="20"/>
          </button>
        </div>
      </div>
      <div class="tabs">
        <mat-tab-group animationDuration="0" disablePagination>
          <mat-tab label="Playlists">
            <div class="playlists">
              @for(playlist of playlists; track playlist){
                <app-user-playlist-list [playlist]="playlist"></app-user-playlist-list>
              } @empty {
                <p class="no-result">Create playlists to see them here</p>
              }
              <!-- <input type="text" placeholder="Search playlists"/>-->
            </div>
          </mat-tab>
          <mat-tab label="Artists">
            <div class="following">
              <app-following [following]="following"></app-following>
            </div>
          </mat-tab>
          <mat-tab label="Albums">
            @for (album of albums; track album.id) {
              <app-album-list-item [album]="album"></app-album-list-item>
            } @empty {
              No albums liked
            }
          </mat-tab>
        </mat-tab-group>
      </div>
      <mat-divider></mat-divider>
    }

  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
