
  <h2 mat-dialog-title>{{ data.message }}</h2>
  <div mat-dialog-content>
    <p>{{ data.content }}</p>
  </div>

  <div mat-dialog-actions>
    @for(btn of data.actions; track btn) {
      @if(data.status === 'warning-all') {
        @if (btn === 'Add anyway') {
          <button mat-raised-button (click)="addAnyway(data.playlist_id, data.tracks_already_in_playlist)">{{ btn }}</button>
        } @else if (btn === 'Don\'t add') {
          <button mat-raised-button (click)="closeDialog()">{{ btn }}</button>
        }
      } @else if (data.status === 'warning-some') {
        @if (btn === 'Add all') {
          <button mat-raised-button (click)="addAll(data.playlist_id, data.all_tracks_id)">{{ btn }}</button>
        } @else if (btn === 'Add new ones') {
          <button mat-raised-button (click)="addNewOnes()">{{ btn }}</button>
        }
      }
    }
  </div>
