<div class="row" [id]="playlist.id" [ngClass]="{'drop-to': shouldAddBorder}" (mouseenter)="setBorder()" (mouseleave)="removeBorder()">
  <div class="image">
    @if (playlist.image_url) {
      <img class="has-cover" src="{{playlist.image_url}}" width="25" height="25"/>
    } @else {
      <img  src="assets/icons-svg/note.svg" width="25" height="25"/>
    }
  </div>
  @if (playlist.tracks_count > 0) {
    <img class="play" (click)="playPlaylist(playlist)" src="assets/icons-svg/play.svg"/>
  }
  <div class="info"  >
    <a routerLinkActive="active" routerLink="/playlists/{{playlist.id}}" class="title">{{playlist.title}}</a>
    <p class="number">{{playlist.tracks_count}} tracks</p>
  </div>
</div>
