<div class="container-padding">
  <table class="admin-table">
    <thead>
      <tr>
        <th>#</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Active</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (user of pagedResponse.data; track user; let index = $index) {
        <tr>
          <td>{{pagedResponse.from + index}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.active}}</td>
          <td>{{user.formatted_created_at}}</td>
          <td>{{user.formatted_updated_at}}</td>
          <td class="actions">
            <button (click)="openEditDialog(user)">Edit</button>
            <button (click)="openDeleteDialog(user.id,user.first_name + ' ' + user.last_name, 'users', pagedResponse.current_page)" class="delete">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination">

    <!-- <button matRipple (click)="navigateToPreviousPage()" *ngIf="pagedResponse.prev_page_url">Previous page</button>-->
    @for (page of pagedResponse.links; track page) {
      @if (page.url) {
        <button class="button" (click)="navigateTo(page.url)" mat-button [ngClass]="{'active-pagination' : page.active}">
          <span [innerHTML]="page.label"></span>
        </button>
      }
    }
    <!-- <button matRipple (click)="navigateToNextPage()" *ngIf="pagedResponse.next_page_url">Next page</button>-->
  </div>
</div>
