<ul>
  <li>
    <a routerLink="admin/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
  </li>
  <li>
    <a routerLink="admin/tracks" routerLinkActive="active">
      <mat-icon>library_music</mat-icon>
      Tracks
    </a>
  </li>
  <li>
    <a routerLink="admin/artists" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      Artists
    </a>
  </li>
  <li>
    <a routerLink="admin/albums" routerLinkActive="active">
      <mat-icon>albums</mat-icon>
      Albums
    </a>
  </li>
  <li>
    <a routerLink="admin/genres" routerLinkActive="active">
      <mat-icon>library_books</mat-icon>
      Genres
    </a>
  </li>
  <li>
    <a routerLink="admin/roles" routerLinkActive="active">
      <mat-icon>subject</mat-icon>
      User Roles
    </a>
  </li>
  <li>
    <a routerLink="admin/users" routerLinkActive="active">
      <mat-icon>supervisor_account</mat-icon>
      Users
    </a>
  </li>
</ul>
