.profile{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .top{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 300px;
    background: var(--profile);
    .left{
      .profile-image-overlay{
        width: 250px;
        height: 250px;
        position: relative;
        box-shadow: 0 8px 24px rgba(0,0,0,.5);
        border-radius: 50%;

        .shadow-circle{
          clip-path: circle();
        }
        .profile-image{
          border-radius: 50%;
        }
        .default{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &:hover{
          .change-image{
            .choose{
              width: 100%;
              height: 100%;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 10px;
              text-align: center;
              background: rgba(0, 0, 0, 0.72);
              mat-icon{
                color: var(--light);
                width: 75px;
                height: 75px;
                font-size: 75px;
              }
            }
          }
        }
        .profile-image{
          width: 250px;
          height: 250px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--secondary-black);
            mat-icon{
              font-size: 50px;
              width: 50px;
              height: 50px;
            }
          }
          img{
            height: auto;
            width: 100%;
          }
        }
        .change-image {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          .choose{
            display: none;
          }
        }
      }
      .no-profile-image{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary-black);
        box-shadow: 0 8px 24px rgba(0,0,0,.5);
        .no-image{
          width: 100px;
          height: 100px;
          font-size: 100px;
          color: var(--light-text);
        }
        .choose{
          display: none;
        }
        &:hover{
          .no-image{
            display: none;
          }
          .choose{
            width: 100%;
            height: 100%;
            clip-path: circle();
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            mat-icon{
              color: var(--light);
              width: 75px;
              height: 75px;
              font-size: 75px;
            }
          }
        }
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        font-size: 70px;
      }
      .row{

      }
      .username{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .edit{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: transparent;
          border: none;
          outline: none;
          cursor: pointer;
        }
        position: relative;
        &:hover{
          mat-icon{
            opacity: 1;
          }
        }
        mat-icon{
          opacity: 0;
          transition: .2s ease-in-out;
        }
      }
    }
  }
  .bottom{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .section{
      display: flex;
      flex-direction: column;
      gap: 20px;
      .top-section{
        max-width: 1170px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
          &:hover{
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      h1{

      }
    }
    .favorite{
      gap: 10px;
      p{
        color: var(--light-text);
        font-size: 12px;
      }
    }
  }
}
