
@if (userService.userLoaded()) {
  <div class="profile">
    <div class="top" #cover>
      <div class="left">
        <input type="file" hidden #image (change)="onFileSelected($event)">
        <div class="profile-image-overlay">
          <div class="shadow-circle">
            <div class="profile-image" #profileImage [style.background-image]="profileImageSrc ? profileImageSrc : ''">
            </div>
            <div class="change-image">
              <button mat-button class="choose" (click)="image.click()">
                <mat-icon>edit</mat-icon>
                <p>Choose photo</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <p>Profile</p>
        <div class="username">
          <button class="edit" (click)="openEditUsernameDialog()"></button>
          <h1>{{user.username}}</h1>
          <mat-icon>edit</mat-icon>
        </div>
        <div class="row">
          <p>{{followings.length}} Following</p>
          <div class="divider-h"></div>
          <p>{{playlists.length}} Playlists</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      @if (playlists.length) {
        <div class="section">
          <div class="top-section">
            <h1>Playlists</h1>
            @if (user.playlists_count > 5) {
              <a routerLink="/user/playlists">See more</a>
            }
          </div>
          <div class="row">
            @for (playlist of playlists; track playlist; let i = $index) {
              @if (i < 6) {
                <app-playlist-card [playlist]="playlist"></app-playlist-card>
              }
            } @empty {
              <p>You did not create any playlists yet..</p>
            }
          </div>
        </div>
      }
      @if(followings.length) {
        <div class="section">
          <div class="top-section">
            <h1>Following</h1>
            @if (user.following_count > 6) {
              <a routerLink="/user/followings">See more</a>
            }
          </div>
          <!--<app-following [following]="user.following"></app-following>-->
          <div class="row">
            @for (artist of user.followings; track artist; let i = $index) {
              @if(i < 6) {
                <app-artist-round-card [artist]="artist"></app-artist-round-card>
              }
            } @empty {
              <p>You are not following any artist yet..</p>
            }
          </div>
        </div>
      }
      @if ((userService.likedAlbums$ | async )?.length!) {
        <div class="section">
          <div class="top-section">
            <h1>Liked albums</h1>
            @if ((userService.likedAlbums$ | async )?.length! > 6) {
              <a routerLink="/user/followings">See more</a>
            }
          </div>
          <div class="row">
            @for(album of (userService.likedAlbums$ | async); track album; let index = $index) {
              @if(index < 6) {
                <app-album-card [album]="album"></app-album-card>
              }
            } @empty {
              <p>You did not like any albums yet.. Tap heart icon to like</p>
            }
          </div>
        </div>

      }
      <div class="section favorite">
        <h1>Your favorite tracks last 7 days</h1>
        @if (favoriteTracks.length > 0) {
          <p>Only visible to you</p>
          <app-track-table [tracks]="favoriteTracks" [from]="from"></app-track-table>
        } @else {
          <p>Your favorite tracks will appear here</p>
        }
      </div>
    </div>
  </div>
} @else {
  <app-loading></app-loading>
}

