.profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  .row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
  .top{
  }
  .bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .section{
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1{

      }
    }
    .favorite{
      gap: 10px;
      p{
        color: var(--light-text);
        font-size: 12px;
      }
    }
  }
}
