@if(shouldShowHeader) {
  <div class="slide" [@slideInOut]="'in'">
    <app-small-header [tracks]="album.tracks"
                      [title]="album.name"
                      [from]="from"
                      [shouldShow]="shouldShowHeader"
                      [image]="album.cover"></app-small-header>
  </div>
}
<div class="album">

  <div class="top" #background>

    @if (isLoaded) {
      <div class="backdrop"></div>
      <img class="cover" src="{{album.cover}}">
      <div class="info">
        <p>Album</p>
        <div class="name">
          <h1>{{album.name}}</h1>

        </div>
        <p>{{album.tracks_count}} tracks</p>
        <p>{{album.release_year}}</p>
        <div class="artist">
          <a routerLink="/artists/{{album.artist.id}}">
            <img src="{{album.artist.cover}}"/>
            {{album.artist.name}}
          </a>
        </div>
      </div>
    } @else {
      <div class="loading">
        <app-loading></app-loading>
      </div>
    }
  </div>
  @if (isLoaded;) {
    <div class="bottom">
      <div class="buttons">
        <button class="play" (click)="playAlbum(album.tracks)">
          <mat-icon>play_arrow</mat-icon>
        </button>
        @if (!isAlbumLiked) {
          <button (click)="likeAlbum(album.id)" class="like">
            <mat-icon>favorite_outline</mat-icon>
          </button>
        } @else {
          <button class="like liked" (click)="removeAlbumFromLiked(album.id)">
            <mat-icon>favorite</mat-icon>
          </button>
        }
      </div>
      <app-track-table [tracks]="album.tracks" [from]="from"></app-track-table>
    </div>
  }
</div>
<ng-template #loading>
  <div class="loading">
    <app-loading></app-loading>
  </div>

</ng-template>
