@if (settings.id) {
  <div class="container">
    <h1>Your info</h1>
    <div class="rows">
      <div class="row">
        <p>First name</p>
        <p>{{user.first_name}}</p>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <p>Last name</p>
        <p>{{user.last_name}}</p>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <p>Email</p>
        <p>{{user.email}}</p>
      </div>
      <h1>Your preferences</h1>
      <div class="row-preference">
        <div class="left">
          <p>Explicit content</p>
          <p>Allow explicit content labeled with E tag. </p>
        </div>
        <div class="right">
          <mat-slide-toggle [checked]="this.settings.explicit" (change)="update($event.checked, 'explicit')"></mat-slide-toggle>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row-preference">
        <div class="left">
          <p>History</p>
          <p>Enable saving history. </p>
        </div>
        <div class="right">
          <mat-slide-toggle [checked]="this.settings.history" (change)="update($event.checked, 'history')" #history></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
} @else {
  <app-loading></app-loading>
}
