<table class="admin-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>No. of tracks</th>
      <th>Release year</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (album of pagedResponse.data; track album; let index = $index) {
      <tr>
        <td>{{pagedResponse.from + index}}</td>
        <td>{{album.name}}</td>
        <td>{{album.tracks_count}}</td>
        <td>{{album.release_year}}</td>
        <td>{{album.created_at}}</td>
        <td>{{album.updated_at}}</td>
        <td class="actions">
          <button (click)="openEditDialog(album)">Edit</button>
          <button (click)="openDeleteDialog(album.id,album.name, 'albums', pagedResponse.current_page)" class="delete">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
<div class="pagination">

  <!-- <button matRipple (click)="navigateToPreviousPage()" *ngIf="pagedResponse.prev_page_url">Previous page</button>-->
  @for (page of pagedResponse.links; track page) {
    @if (page.url) {
      <button class="button" (click)="navigateTo(page.url)" mat-button [ngClass]="{'active-pagination' : page.active}">
        <span [innerHTML]="page.label"></span>
      </button>
    }
  }
  <!-- <button matRipple (click)="navigateToNextPage()" *ngIf="pagedResponse.next_page_url">Next page</button>-->
</div>
