<div class="header">
  <div class="left">
    <!--<button class="back">
      <img src="assets/icons-svg/back.svg" height="20" width="20" alt="back,icon">
    </button>
    <button class="forward">
      <img src="assets/icons-svg/back.svg" height="20" width="20" alt="back,icon">
    </button>-->
    <app-search-bar></app-search-bar>
  </div>
  <div class="right">
    <button mat-button [matMenuTriggerFor]="menu" matRipple>
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/user/profile" mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      <a routerLink="/user/settings"  mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </a>
    </mat-menu>
  </div>
</div>
