<div class="header">
  <div class="left">
    <!--<button class="back">
      <img src="assets/icons-svg/back.svg" height="20" width="20" alt="back,icon">
    </button>
    <button class="forward">
      <img src="assets/icons-svg/back.svg" height="20" width="20" alt="back,icon">
    </button>-->
    <app-search-bar></app-search-bar>
  </div>
  <div class="right">
    <button mat-button [matMenuTriggerFor]="menu" matRipple>Menu</button>
    <mat-menu #menu="matMenu">
      <a routerLink="/user/profile" mat-menu-item>Profile</a>
      <a routerLink="/user/settings"  mat-menu-item>Settings</a>
    </mat-menu>
  </div>
</div>
