.header{
  padding-left: calc(var(--sidenav-width) + 20px);
  width: 100%;
  height: 60px;
  background: var(--header);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);

  .right{
    padding-right: 20px;
    img{
      width: 100%;
    }
    button{
      background: var(--light-black);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: var(--primary-text);
      border: none;
      font-size: 14px;
      font-family: Bold;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
  .left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    button{
      background: var(--light-black);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .back{

    }
    .forward{
      transform: rotate(180deg);
    }
  }
}
