<table>
  @if (!from.url.includes('/') && !from.name.includes('search') && !from.name.includes('Trending')) {
    <thead>
      <tr>
        <th class="index">TRACK</th>
        <!--<th>Plays</th>-->
        @if (!from.url.includes('albums/')) {
          <th class="album">ALBUM</th>
        }
        @if (!from.url.includes('albums/') && !from.url.includes('artists/') && !from.url.includes('search') ) {
          <th class="album"
            >ADDED
          AT</th>
        }
        <th class="time"><img src="assets/icons-svg/time.svg" width="15" /></th>
        <th class="like"></th>
        <th></th>
      </tr>
    </thead>
  }
  <tbody cdkDropList class="list" (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled>
    @for (track of tracks; track track.id; let index = $index;) {
      @defer(on viewport){
      <tr cdkDrag (cdkDragDropped)="onDragDropped($event)" (cdkDragStarted)="onDragStarted($event)" class="item"
          [ngClass]="{'selected' : selectedTracks.has(index), 'disabled' : _userService.userLoaded() && track.explicit && !_userService.user()!.settings.explicit}" (click)="selectTrack($event, index,track)"
          (contextmenu)="openMenuOnRightClick($event, track)" (dblclick)="playAllFromIndex(tracks, index, from)">
        @if (selectedTracks.size > 0) {
          <p *cdkDragPreview class="preview">{{selectedTracks.size}} tracks selected</p>
        } @else {
          <p *cdkDragPreview class="preview">{{track.title}} <app-divider></app-divider>
          {{track.owner.name}}
            @for (feature of track.features; track feature) {
          , {{feature.name}}
          }
      </p>
    }
    <td class="cover-title">
      @if (_queueService.currentTrackInfo() | isCurrentTrack:track:index:from) {
        @if (_queueService.currentTrackInfo()?.isBeingPlayed) {
          <button class="play" (click)="pause()">
            <img src="assets/icons-svg/pause.svg" />
          </button>
        } @else {
          <button class="play" (click)="continue()">
            <img src="assets/icons-svg/play.svg" />
          </button>
        }
      } @else {
        @if((this._userService.user$ | async) == null){
          <button class="play" (click)="playAllFromIndexWithNoUser(tracks, index, from)">
            <img src="assets/icons-svg/play.svg" />
          </button>
        } @else {
          @if(!track.explicit) {
            <button class="play" (click)="playAllFromIndex(tracks, index, from)">
              <img src="assets/icons-svg/play.svg" />
            </button>
          } @else if (this._userService.user()!.settings.explicit && track.explicit) {
            <button class="play" (click)="playAllFromIndex(tracks, index, from)">
              <img src="assets/icons-svg/play.svg" />
            </button>
          }
          @else if (!this._userService.user()!.settings.explicit && track.explicit){
            <div class="disabled-icon">
              <mat-icon>block</mat-icon>
            </div>
          }
        }
      }

      @if (!from.url.includes('albums/')) {
        @if (_queueService.currentTrackInfo() | isCurrentTrack:track:index:from) {
          <div class="playing-now">
            <mat-icon>volume_up</mat-icon>
          </div>
        }
        <div class="image" [ngClass]="{'opacity-05' : _queueService.currentTrackInfo() | isCurrentTrack:track:index:from}">
          @if (track.cover) {
            <img src="{{track.cover}}">
          } @else {
            @if (track.album) {
              <img src="{{track.album.cover}}">
            }
            @if (!track.album) {
              <img src="{{track.owner.cover}}">
            }
          }
        </div>
      }
      @if (from.url.includes('albums/')) {
        @if (_queueService.currentTrackInfo() !== null && (_queueService.currentTrackInfo() | isCurrentTrack:track:index:from)) {
          <div class="index">
            <mat-icon>volume_up</mat-icon>
          </div>
        } @else {
          <div class="index">
            <p> {{index + 1}}</p>
          </div>
        }
      }
      <div class="info">
        <div class="title">
          @if (_queueService.currentTrackInfo() !== null) {
            <p [ngClass]="(_queueService.currentTrackInfo() | isCurrentTrack:track:index:from)  ? 'playing' : ''">{{track.title}}</p>
          } @else {
            <p>{{track.title}}</p>
          }

          @if (track.explicit) {
            <mat-icon class="explicit">explicit</mat-icon>
          }
        </div>
        <div class="artists">
          <a routerLink="/artists/{{track.owner.id}}">{{track.owner.name}}</a>
          @if (track.features.length > 0) {
          @for (feature of track.features; track feature.id; let index = $index) {
            , <a
          routerLink="/artists/{{feature.id}}">{{feature.name}}</a>
        }
      }
    </div>
  </div>
</td>
<td>{{track.track_plays_count | number}}</td>
@if (!from.url.includes('albums/')) {
  <td class="album">
    @if (track.album) {
      <a routerLink="/albums/{{track.album.id}}">{{track.album.name}}</a>
    }
    @if (!track.album) {
    }
  </td>
}
@if (from.name !== 'Home' && !from.url.includes('albums/') && !from.url.includes('artists/') && !from.url.includes('search') ) {
  <td class="time"
    >
  {{track.pivot?.created_at | humanizeDate}}</td>
}
<td class="time">{{track.duration | duration:true}}</td>
<td class="like">
  @if (_userService.userLoaded()){
    @if (!this.trackLikeService.like().has(track.id)) {
      <button (click)="likeTrack(track)" class="like-icon">
        <mat-icon>favorite_outline</mat-icon>
      </button>
    }
    @if (this.trackLikeService.like().has(track.id)) {
      <button (click)="removeFromLiked(track.id)">
        <mat-icon>favorite</mat-icon>
      </button>
    }
  }
</td>
<td class="more">

  <button style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="contextMenu"></button>
  <button matRipple (click)="openMenuOnLeftClick($event, track)">
    <img src="assets/icons-svg/more.svg">
  </button>
  <mat-menu #contextMenu='matMenu' (closed)="onMenuClosed(contextMenu)">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="addToQueue(selectedTrack)">
        <mat-icon class="custom-icon-color">playlist_add</mat-icon>
        <span>Add to queue</span>
      </button>
      @if (_userService.userLoaded()) {
        <button mat-menu-item [matMenuTriggerFor]="playlist" [disabled]="_playlistService.playlists().length === 0">
          <mat-icon class="custom-icon-color">add</mat-icon>
          <span>Add to playlist</span>
        </button>
        @if (from.url.includes('playlists/') && (_userService.playlists$ | async) | isPlaylistOwner:from) {
          <button mat-menu-item (click)="removeFromPlaylist(selectedTrack, from)">
            <mat-icon>remove_circle_outline</mat-icon>
            <span>Remove from playlist</span>
          </button>
        }
        @if (!this.trackLikeService.like().has(selectedTrack.id)) {
          <button mat-menu-item (click)="likeTrack(selectedTrack)">
            <mat-icon class="custom-icon-color">favorite_outline</mat-icon>
            <span>Add to My Collection</span>
          </button>
        }
        @if (this.trackLikeService.like().has(selectedTrack.id)) {
          <button mat-menu-item (click)="removeFromLiked(selectedTrack.id)">
            <mat-icon class="custom-icon-color">favorite</mat-icon>
            <span>Remove from My Collection</span>
          </button>
        }
      }



      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/artists/{{selectedTrack.owner.id}}"
        [matMenuTriggerFor]="contextArtists">
        <mat-icon class="custom-icon-color">people</mat-icon>
        <span>Artists</span>
      </button>
      @if (selectedTrack.album && !from.url.includes('albums/')) {
        <button mat-menu-item
          routerLink="/albums/{{selectedTrack.album.id}}">
          <mat-icon class="custom-icon-color">album</mat-icon>
          <span>Go to Album</span>
        </button>
      }
    </ng-template>
    <mat-menu #contextArtists="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="/artists/{{selectedTrack.owner.id}}">
          <span>{{selectedTrack.owner.name}}</span>
        </button>
        @for (feature of selectedTrack.features; track feature) {
          <button class="custom" mat-menu-item routerLink="/artists/{{feature.id}}">
            <span>{{feature.name}}</span>
          </button>
        }
      </ng-template>
    </mat-menu>
  </mat-menu>
  <mat-menu #playlist="matMenu">
    <ng-template matMenuContent>
      <div class="search-playlist" mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Find a playlist" #search (blur)="search.focus()" (input)="searchPlaylists()" [(ngModel)]="searchQuery">
      </div>
      <button mat-menu-item (click)="openCreatePlaylistDialog()">
        <mat-icon>add</mat-icon>
        Create new playlist</button>
      <mat-divider></mat-divider>
      @if (searching) {
        @for (filtered of filteredPlaylists; track filtered.id) {
          <button mat-menu-item (click)="addTrackToPlaylist(filtered.id)">{{filtered.title}}</button>
        }
      } @else {
        @for (playlist of _playlistService.playlists(); track playlist) {
          <button mat-menu-item (click)="addTrackToPlaylist(playlist.id)">{{playlist.title}}</button>
        }
      }
    </ng-template>
  </mat-menu>
</td>
</tr>
}
@placeholder {
  <tr>
    <td [colSpan]="12">
      <div class="placeholder">

        <div class="image"></div>

        <div class="info-left">
          <div class="text-top"></div>
          <div class="text-bottom"></div>
        </div>

        <div class="info-right"></div>

      </div>
    </td>
  </tr>
}
}


</tbody>
</table>
