table{
  width: 90%;
  border-collapse: collapse;
  thead{

    font-size: 12px;
    letter-spacing: 1px;

    color: var(--light-text);
    tr{
      height: 50px;
      th{
        padding: 10px;
        text-align: left;
      }
      .time{
        height: 50px;
      }

    }
  }
  tbody{
    tr,.placeholder{
      height: 58px;
      padding: 0;
      position: sticky;

      &:hover{
        .index{
          .mat-icon{
            display: none;
          }
          p{
            display: none;
          }
        }
        background: var(--secondary-black);
        .cover-title{
          .playing-now{
            display: none;
          }
          .play,.disabled-icon {
            opacity: 1;
          }

          .image{
            opacity: .5;
          }
          .artists{
            a{
              color: var(--light) !important;
            }
          }
        }
        &:is(.disabled) {
          .cover-title{
            .image{
              opacity: 1;
            }
            .artists{
              a{
                color: var(--light-text) !important;
              }
            }
          }
        }
        .more{
          opacity: 1;
          button{
            cursor: pointer;
          }
        }
        .like-icon{
          opacity: 1;
        }
      }
      td{
        padding: 7.5px;
        height: 100%;
        font-size: 14px;
        .explicit{
          font-size: 14px;
          width: 14px;
          height: 14px;
          color: var(--light-text);
        }
      }

      .cover-title{
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        position: relative;
        .playing-now{
          position: absolute;
          top: 19px;
          left: 19px;
          z-index: 8;
          .mat-icon{
            font-size: 20px;
          }
        }
        .play{
          cursor: pointer;
          position: absolute;
          z-index: 8;
          top: 19px;
          left: 19px;
          background: none;
          border: none;
          width: 20px;
          height: 20px;
          opacity: 0;
          img{
            width: 18px;
            height: 18px;
            opacity: 1 !important;

          }
        }
        .disabled-icon{
          position: absolute;
          z-index: 8;
          left: 18px;
          top: 20px;
          opacity: 0;
          transition: .05s ease-in-out;
          mat-icon{
            color: var(--light);
            opacity: .5;
            font-size: 19px;
            width: 19px;
            height: 19px;
          }
        }
        .image{
          width: 40px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          img{
            height: 95%;
            width: auto;
            border-radius: 3px;

          }
        }
        .info{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 3px;
          .title{

            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;

           p{
             font-family: Regular;
             font-size: 14px;
           }
          }
          a{
            &:hover{
              text-decoration: underline;
            }
          }
          .artists{
            width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--light-text);
            font-size: 12px;
            a{
              color: var(--light-text);
              font-size: 12px;
            }
          }
        }
      }
      .album{
        a{
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

}
.album{
  width: 200px;
  p{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
.more{
  width: 100px;
  text-align: center;
  opacity: 0;
  button{
    background: none;
    border: none;
    img{
      width: 20px;
    }
  }
}
.index{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  .mat-icon{
    font-size: 20px;
  }
  p{
    color: var(--light-text);
  }
}
.playing{
  color: var(--main-color);
}
.playing-img{
  color: var(--main-color);
  img{
    width: 25px;
  }
}
.mat-mdc-menu-panel{
  height: 200px !important;
}
.like{
  .like-icon{
    transition: transform 0.05s ease-in-out;
    opacity: 0;
    mat-icon{
      color: var(--light) !important;
    }
  }
  button{
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    mat-icon{
      color: var(--main-color);
    }
    &:hover{
      transform: scale(1.2);
    }
  }
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: rgba(1, 1, 1, 0.35);
  backdrop-filter: blur(10px);
}

.cdk-drag-placeholder {
  opacity: 1;
  background: var(--light-black);
}

.item:last-child {
  border: none;
}
.custom-icon-color{

}

.selected{
  background: var(--light-black);
}
.disabled{
  opacity: .5;
}
.preview{
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: var(--light-black);
}

.placeholder{

  background-color: var(--secondary-black);
}
.opacity-05{
  opacity: .5;
}
.search-playlist{
  display: flex;
  flex-direction: row;
  background: var(--gray);
  input[type=text]{
    border: none;
    outline: none;
    background: none;
    color: var(--light);
    font-size: 13px;
  }
}
