<!--<app-tracks-table [pagedResponse]="(adminTrackService.tracks$ | async)!"></app-tracks-table>-->
<app-table-admin
  [title]="'Tracks'"
  [data]="adminTrackService.tracks$ | async"
  [columns]="['Title', 'Owner', 'Featuring', 'Album', 'Explicit', 'Plays', 'Created at', 'Updated at']"
></app-table-admin>


<!--<app-table-admin-->
<!--  [title]="'Deleted Tracks'"-->
<!--  [data]="adminTrackService.softTracks$ | async"-->
<!--  [columns]="['Title', 'Owner', 'Featuring', 'Album', 'Explicit', 'Plays', 'Created at', 'Updated at']"-->
<!--&gt;</app-table-admin>-->
