<div class="dialog">
  <h3 mat-dialog-title>
      @if(data.isEdit) {
        Edit
      } @else {
        Add
      }
      artist
  </h3>

  <div mat-dialog-content>
    <form [formGroup]="group" class="artist-form">
      @if(data.isEdit) {
        <img src="{{data.item?.cover}}"/>
      } @else {
        <button>Add image</button>
      }
      <img src=""/>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Enter artist name" formControlName="name"/>
        @if (group.get('name')?.hasError('required')) {
          <mat-error>
            Name is required.
          </mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="submitForm()">
      @if (data.isEdit) {
        Update
      } @else {
        Add
      } artist
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>
