@if(playlist() && showSmallHeader){
  <div class="slide" [@slideInOut]="'in'">
    <app-small-header
      [tracks]="playlist()!.tracks.data"
      [title]="playlist()!.title"
      [image]="playlist()!.image_url"
      [shouldShow]="showSmallHeader"
      [from]="fromInfo"
      >
    </app-small-header>
  </div>
}
@if (this.playlist() !== null) {
  <div class="playlist" #background>

    <div class="top">

      <div class="image-info">
        <div class="image">
          @if (this.playlist()!.image_url) {
            <img src="{{playlist()!.image_url}}" alt="cover, playlist">
          } @else {
            <img class="note" src="assets/icons-svg/note.svg"  alt="icon, note">
          }
        </div>
        <div class="info">
          <p>Playlist</p>
          <h1>{{playlist()!.title}}</h1>
          @if (playlist()!.description) {
            <p class="desc">{{playlist()!.description}}</p>
          }
          <p>Last updated {{playlist()!.latest_added | humanizeDate}}</p>

          <div class="with-divider">
            <p>{{playlistService.trackCount()}} tracks</p>
            <app-divider></app-divider>
            <p>{{playlistService.totalDuration() | formatDuration}}</p>
          </div>

        </div>
      </div>
      @if (playlist()!.tracks_count > 0) {
        <div class="actions">
          <div class="left">
            <button class="play" (click)="playTracks()">
              <mat-icon>play_arrow</mat-icon>
            </button>
          </div>
          <div class="right">

          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <div class="loading">
    <app-loading></app-loading>
  </div>
}


@if (isLoaded) {
  @if ((playlistService.tracks$ | async)?.length) {
    <div class="table">
      <app-track-table [tracks]="(playlistService.tracks$ | async)!" [from]="fromInfo"></app-track-table>
    </div>
  } @else {
    <div class="no-tracks">
      <p>Start building your playlist with tracks by tapping on 'Add to playlist' in the option menu.</p>
    </div>
  }
}

<ng-template #loading>
  <div class="loading">
    <app-loading></app-loading>
  </div>
</ng-template>

