@if (loaded) {
  <div class="container">
    <div class="header trending">
      <h1>Trending now</h1>
      <mat-icon>whatshot</mat-icon>
    </div>
    <div class="header">
      <div class="info">
        <h1>Tracks</h1>
      </div>
    </div>
    <div class="tracks">
      <app-track-table [tracks]="popularTracks" [from]="from"></app-track-table>
    </div>
    <div class="header">
      <h1>Artists</h1>
    </div>
    <div class="artists">
      @for (artist of popularArtists; track artist; let index = $index) {
        <app-artist-card [artist]="artist" [index]="index" [trending]="true"></app-artist-card>
      }
    </div>
    <div class="header">
      <h1>Albums</h1>
    </div>
    <div class="albums">
      @for (album of popularAlbums; track album) {
        <app-album-card [album]="album"></app-album-card>
      }
    </div>
  </div>
} @else {
  <app-loading></app-loading>
}

