<form [formGroup]="trackFormGroup" class="search-form">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Owner</mat-label>
    <input matInput formControlName="owner"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Featuring</mat-label>
    <input matInput formControlName="featuring" placeholder="ex: Artist1, Artist 2, Artist3"/>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Album</mat-label>
    <input matInput formControlName="album"/>
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" formControlName="explicit">
    <mat-label>Explicit</mat-label>
    <mat-radio-button [value]="true">Yes</mat-radio-button>
    <mat-radio-button [value]="false">No</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <mat-label>Plays from</mat-label>
    <input type="number" matInput formControlName="playsFrom"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Plays to</mat-label>
    <input type="number" matInput formControlName="playsTo"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created from - to</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" formControlName="createdFrom">
      <input matEndDate placeholder="End date" formControlName="createdTo">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Updated from - to</mat-label>
    <mat-date-range-input [rangePicker]="pickerUpdated">
      <input matStartDate placeholder="Start date" formControlName="updatedFrom">
      <input matEndDate placeholder="End date" formControlName="updatedTo">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="pickerUpdated"></mat-datepicker-toggle>
    <mat-date-range-picker #pickerUpdated></mat-date-range-picker>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="search()">Search</button>
  <button mat-raised-button color="primary" (click)="reset()">Reset</button>
</form>
