.item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: row;
  padding: 5px;
  color: var(--light);
  &:hover{
    background: var(--secondary-black);
  }
  img{
    width: 40px;
  }
}
