
<div class="container-padding admin">
  <div class="admin-actions">
    <button mat-raised-button (click)="openAddTrackDialog()">Add track</button>
    <button mat-raised-button (click)="unselectAll()" [disabled]="_selectionService.selectedItems().length === 0">Unselect all</button>
    <button mat-raised-button (click)="deleteSelectedTracks()" [disabled]="_selectionService.selectedItems().length === 0" matBadge="{{_selectionService.selectedItems().length}}" matBadgeSize="medium">Delete selected tracks</button>
  </div>
  <table class="admin-table">
    <thead>
      <tr>
        <th>
          <mat-checkbox (change)="onSelectAll($event)" #selectAll></mat-checkbox>
        </th>
        <th>#</th>
        <th>Title</th>
        <th>Owner</th>
        <th>Featuring</th>
        <th>Album</th>
        <th>Explicit</th>
        <th>Plays</th>
        <th>Created at</th>
        <th>Updated_at</th>
        <th></th>
      </tr>

    </thead>
    <tbody>
      @for (track of pagedResponse.data; track track; let index = $index) {
        <tr>
          <td>
            <mat-checkbox (change)="onSelectChange($event, track)" [checked]="_selectionService.selectedItems().includes(track.id)"></mat-checkbox>
          </td>
          <td>{{pagedResponse.from + index}}</td>
          <td>{{track.title}}</td>
          <td>
          {{track.owner.name}}</td>
          <td>
            @for (feature of track.features; track feature; let fIndex = $index) {
              {{feature.name}}@if (fIndex != track.features.length - 1) {
              ,
            }
          }
        </td>
        <td>{{track.album?.name}}</td>
        <td>{{track.explicit | humanizeBoolean}}</td>
        <td>{{track.track_plays_count | number}}</td>
        <td>{{track.formatted_created_at }}</td>
        <td>{{track.formatted_updated_at }}</td>
        <td class="actions">
          <button (click)="openEditDialog(track)">Edit</button>
        </td>
      </tr>
    }
  </tbody>
</table>
<div class="pagination">
  <div class="info">
    <p>Showing {{pagedResponse.from}} - {{pagedResponse.to}} of {{pagedResponse.total}}</p>
  </div>
  <!-- <button matRipple (click)="navigateToPreviousPage()" *ngIf="pagedResponse.prev_page_url">Previous page</button>-->
  @for (page of pagedResponse.links; track page) {
    @if (page.url) {
      <button class="button" (click)="navigateTo(page.url)" mat-button [ngClass]="{'active-pagination' : page.active}">
        <span [innerHTML]="page.label"></span>
      </button>
    }
  }
  <!-- <button matRipple (click)="navigateToNextPage()" *ngIf="pagedResponse.next_page_url">Next page</button>-->
</div>
</div>
