
<div class="container-padding">
  <div class="info">
    <p>Showing {{pagedResponse.from}} - {{pagedResponse.to}} of {{pagedResponse.total}}</p>
    <button matRipple >Add track</button>
  </div>
  <table class="admin-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Owner</th>
        <th>Featuring</th>
        <th>Album</th>
        <th>Explicit</th>
        <th>Plays</th>
        <th>Created at</th>
        <th>Updated_at</th>
        <th></th>
      </tr>

    </thead>
    <tbody>
      @for (track of pagedResponse.data; track track; let index = $index) {
        <tr>
          <td>{{pagedResponse.from + index}}</td>
          <td>{{track.title}}</td>
          <td>
          {{track.owner.name}}</td>
          <td>
            @for (feature of track.features; track feature; let fIndex = $index) {
              {{feature.name}}@if (fIndex != track.features.length - 1) {
              ,
            }
          }
        </td>
        <td>{{track.album?.name}}</td>
        <td>{{track.explicit}}</td>
        <td>{{track.track_plays_count | number}}</td>
        <td>{{track.formatted_created_at }}</td>
        <td>{{track.formatted_updated_at }}</td>
        <td class="actions">
          <button (click)="openEditDialog(track)">Edit</button>
          <button (click)="openDeleteDialog(track.id,track.title, 'tracks', pagedResponse.current_page)" class="delete">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
<div class="pagination">

  <!-- <button matRipple (click)="navigateToPreviousPage()" *ngIf="pagedResponse.prev_page_url">Previous page</button>-->
  @for (page of pagedResponse.links; track page) {
    @if (page.url) {
      <button class="button" (click)="navigateTo(page.url)" mat-button [ngClass]="{'active-pagination' : page.active}">
        <span [innerHTML]="page.label"></span>
      </button>
    }
  }
  <!-- <button matRipple (click)="navigateToNextPage()" *ngIf="pagedResponse.next_page_url">Next page</button>-->
</div>
</div>
