.card{
  width: 180px;
  height: 280px;
  position: relative;
  &:hover{
    .image{
       opacity: .6;
    }
    .play{
      bottom: 100px;
      opacity: 1;
    }
    .delete{
      top: 10px;
      opacity: 1;
    }
  }
  .image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background: var(--secondary-black);
    border-radius: 5px;
    transition: .1s ease-in-out;
    a{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .default{
      width: 100px;
      height: auto;
    }
    .cover{
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }
  .info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    a{
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
    .second{
      color: var(--gray);
    }
  }
  .play{
    transition: .2s ease-in-out;
    opacity: 0;
    position: absolute;
    bottom: 50px;
    right: 20px;
    background: var(--main-color);
    border: none;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
    img{
      width: 20px;

    }
  }
  .delete {
    transition: .2s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 50px;
    right: 20px;
    background: none;
    border: none;
    &:hover {
      background: var(--secondary-black);
      cursor: pointer;
    }
    img{
      width: 20px;
    }
  }
}
