<div class="card">
  <div class="image">
    <a routerLink="/playlists/{{playlist.id}}">
      @if (playlist.image_url) {
        <img class="cover" src="{{playlist.image_url}}"/>
      } @else {
        <img style="padding-right: 20px" class="default" src="assets/icons-svg/note.svg"/>
      }
      <ng-template #default>
        <img style="padding-right: 20px" class="default" src="assets/icons-svg/note.svg"/>
      </ng-template>
    </a>

  </div>
  <button class="delete" matRipple [matMenuTriggerFor]="more">
    <mat-icon class="white">more_vert</mat-icon>
  </button>

  <mat-menu #more="matMenu">
    <button mat-menu-item (click)="openUpdateDialog()">
      <span>Update</span>
    </button>
    <button mat-menu-item (click)="deletePlaylist(playlist)">
      <span>Delete</span>
    </button>
  </mat-menu>
  @if (playlist.tracks_count > 0) {
    @if(this._queueService.from.id === playlist.id && this._queueService.currentTrackInfo()?.isBeingPlayed) {
      <button  class="showing" matRipple (click)="pause()">
        <mat-icon class="white">pause</mat-icon>
      </button>
    } @else if(this._queueService.from.id === playlist.id && !this._queueService.currentTrackInfo()?.isBeingPlayed) {
      <button  class="showing" matRipple (click)="continue()">
        <mat-icon class="white">play_arrow</mat-icon>
      </button>
    } @else {
      <button  class="play" matRipple (click)="playTracks()">
        <mat-icon class="white">play_arrow</mat-icon>
      </button>
    }
  }
  <div class="info">
    <a routerLink="/playlists/{{playlist.id}}">{{playlist.title}}</a>
    <p class="second">{{playlist.tracks_count}}
      @if (playlist.tracks_count == 1) {
        track
      } @else {
        tracks
      }
    </p>
  </div>
</div>
