.search-bar{
  background: var(--secondary-black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 15px ;
  width: 500px;
  border-radius: 20px;
  height: 40px;
  transition: .1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:focus-within{
    box-shadow: 5px 5px 15px #090909;
  }
  img{

  }
  input[type=text]{
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    background: none;
    font-size: 14px;
  }
  position: relative;
}

