@if (loadedRecently) {
  <div class="container">
    <h1>Recently played</h1>
    <div class="cards">
      <app-track-table [tracks]="recentTracks" [from]="from"></app-track-table>
    </div>
  </div>
}
@if (loading) {
  <app-loading></app-loading>
} @else {
  <div class="container">
    <h1>Latest albums added</h1>
    <div class="cards">
      @for (album of albums; track album) {
        <app-album-card [album]="album"></app-album-card>
      }
    </div>
  </div>
  <div class="container">
    <h1>Other similiar users also listen to</h1>
    <div class="cards">
      @for (artist of recommendedArtists; track artist) {
        <app-artist-round-card [artist]="artist"></app-artist-round-card>
      }
    </div>
  </div>
  <div class="container">
    <h1>Recommended tracks</h1>
    <div class="cards">
      <app-track-table [tracks]="recommendedTracks" [from]="from"></app-track-table>
    </div>
  </div>
}
