
.queue{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: background 0.3s ease;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--queue);
  .background{
    transition: background .3s ease-in-out;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(35, 35, 35, 0), rgba(10, 10, 10, 0.7), #0a0a0a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0 100px;
      .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        h4{
          color: var(--primary-text);
        }
        mat-icon{
          font-size: 40px;
          width: 40px;
          height: 40px;
          color: var(--light);
        }
      }
      button{
        background: rgba(255, 255, 255, 0.27);
        color: var(--primary-text);
      }
    }
    .main-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
    .info-left{
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img{
        width: 400px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
      }
      p{
        text-align: center;
      }
      .artists{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

      }
      .title{
        font-size: 25px;
        font-family: Bold;
      }
    }
  }

}
.list{
  width: 500px;
  max-width: 100%;
  min-height: 60px;
  max-height: 500px;
  display: block;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.item{
  padding: 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 14px;
  width: inherit;
  gap: 10px;

  &:hover{
    &:is(.transparent) {
      img,p{
        opacity: 1;
      }
    }
    .track-info{
      .image{
        .play,.pause{
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: none;
          cursor: pointer;
          img{
            opacity: 1;
            width: 100%;
          }
        }
        .playing-icon{
          display: none;
        }
        .index{
          display: none;
        }

      }

    }

  }
  position: relative;
  .track-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: fit-content;

    .image{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      .play{
        display: none;

      }
      .pause{
        display: none;
      }
      p{
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--light-text);
      }
      img{
        height: inherit;
      }
      .playing{
        width: 20px;
      }

    }
    .info{
      width: fit-content;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 5px;
      .title{
      }
      .artists{
        font-size: 12.5px;
        color: var(--light-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 280px;
        a{
          color: var(--light-text);
        }
      }
    }
  }
  .cover{
    img{
      border-radius: 3px;
      box-shadow: rgba(21, 21, 21, 0.98) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }
  .currently-playing{
    font-family: Bold;
    text-transform: uppercase;
    color: var(--light-text);
    font-size: 11.5px;
  }
  .next-up{
    color: var(--light-text);
    font-family: Bold;
    text-transform: uppercase;
    font-size: 11.5px;
  }
  p{
    color: var(--primary-text);
  }
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: rgba(1, 1, 1, 0.35);
  backdrop-filter: blur(10px);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

}

.item:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {

  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.current{
  p{
    color: var(--main-color);
  }
}
.before{
  p{
    color: var(--light-text);
  }
}
.transparent{
  img, p{
    transition: .2s ease-in-out;
    opacity: .3;
  }
}
.drag-handle{
  position: absolute;
  right: 25px;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  img{
    width: 20px;
  }
  cursor: move;
}


.disabled{
  opacity: .3;
}