@if (userService.userLoaded()) {
  <div class="playlists">
    @if (playlists.length) {
      <h1>My playlists</h1>
      <div class="user-ui">
        <mat-form-field appearance="outline" floatLabel="always" [style.width]="'400px'">
          <mat-label>Search playlists</mat-label>
          <input matInput type="text" placeholder="Filter playlists by name" (input)="filterPlaylists(query.value)" #query>
        </mat-form-field>
      </div>
      <div class="search-bar">
      </div>
      <div class="cards">
        @if (filtered.length > 0) {
          @for (playlist of filtered; track playlist.id) {
            <app-playlist-card [playlist]="playlist"></app-playlist-card>
          }
        }
        @if (filtered.length == 0 && !query.value.length) {
          @for (playlist of playlists; track playlist.id) {
            <app-playlist-card [playlist]="playlist"></app-playlist-card>
          }
        }
        @if (!filtered.length && query.value.length) {
          <app-no-results style="width: 100%"></app-no-results>
        }
      </div>
    } @else {
      <div class="no-playlists-created">
        <mat-icon>queue_music</mat-icon>
        <p>You haven't added any playlists yet.</p>
        <button mat-raised-button (click)="openCreatePlaylistDialog()">Create new playlist</button>
      </div>
    }
  </div>
} @else {
  <app-loading></app-loading>
}
